@import "tailwindcss";

/* Styled after the GitLens commit graph */

.circle-component {
  position: absolute;
  z-index: 40;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 9999px;
  border-width: 2px;
}

/* use the classes below together with .circle-component */

.circle-upper-left {
  top: 0px;
  transform: translate(-11px, -1px);
}

.circle-upper-right {
  top: 0px;
  transform: translate(12px, -1px);
}
